body{
    width: 100%;
    background-color:rgba(57, 55, 55, 0.043);
    margin: 0;
    
}
.pd{
    background-color: rgb(145, 209, 240);
    border-radius: 30px;
    font-weight: bold;
    color: black;
    float: right;
    margin: 5px;
    padding: 10px;
    size-adjust: 5px;
    width: 80px;
    text-align: center;
    
}

a{
    text-decoration: none;
    
}

span:hover,
current span{
    background-color: #36383824;
}

.navbar{
    height: 50px;
    background-color: transparent;
    /* position: fixed;
    o */
    margin: 0px;
    width: 100%;
    
}
/* .mk{
    font-size: larger;
    width: ;
} */
.homeTable{
    text-align: center;
    margin: 0 auto;
    border-collapse:collapse;
    padding:50px;
}

.homeTd{
text-align: center;
border-spacing: 15px;
padding-left: 50px;
/* width: 50px; */
padding-bottom: 50px;
}

th{
    text-align: center;
    border-spacing: 15px;
    padding-left: 50px;
    /* width: 50px; */
    padding-bottom: 50px;
    
}

img{
    width:200px;
    height: 200px;
    padding-right: 20px;

}

.about{
    text-align: center;
}

.info{
    text-align: justify;
    font-size: larger;
    margin-left: 20px;
    margin-right: 20px;
    


}
.aboutTable{
    float: left;
}
form{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 70px;
    background-color:white;
    border-radius: 50px;
    width :250px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
}
.submit{
padding-top: 20px;


}
.para{
    margin-bottom: 5px;
}
.division{
    padding-top: 40px;
    align-items: center;

    
}
