body{
    width: 100%;
    background-color: rgb(242, 244, 247);
    margin: 0;
    
}
.pd{
    background-color: rgb(56, 178, 240);
    border-radius: 30px;
    font-weight: bold;
    color: black;
    float: right;
    margin: 5px;
    padding: 10px;
    size-adjust: 5px;
    width: 80px;
    text-align: center;
    
}

a{
    text-decoration: none;
    
}

.pd:hover,
current .pd{
    background-color: #dcf082;
}

.navbar{
    height: 50px;
    background-color: transparent;
    /* position: fixed;
    o */
    margin: 0px;
    width: 100%;
    
}
/* .mk{
    font-size: larger;
    width: ;
} */
.homeTable{
    text-align: center;
    margin: 0 auto;
    border-collapse:collapse;
    padding:50px;
}
.homeTd{
text-align: center;
border-spacing: 15px;
padding-left: 50px;
/* width: 50px; */
padding-bottom: 50px;
}

th{
    text-align: center;
    border-spacing: 15px;
    padding-left: 50px;
    /* width: 50px; */
    padding-bottom: 50px;
    
}

img{
    width:200px;
    height: 200px;
    padding-right: 20px;

}

.about{
    text-align: center;
}

.info{
    text-align: justify;
    font-size: larger;
    margin-left: 20px;
    margin-right: 20px;
    


}
.aboutTable{
    float: left;
}


Footer{
    height: 50px;
    color:black;
    /* padding-left: 25px; */
}
.svgElements{
    padding-left: 25px;
    /* padding-right: 50px; */
    
}
.footerCopy{
    
    padding-left: 25px;

}