/* body{
    background-color: aqua;
} */
.pd{
    background-color: black;
    border-radius: 30px;
    color: white;
    float: right;
    margin: 5px;
    
}
.navbar{
    background-color: #ff0000;
    
}