<!DOCTYPE html>
  <head>
    <title>Contact Us</title>
    <link rel="icon" type="image/x-icon" href="./assets/favicon.ico" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ url_for('static',filename = 'css/main.css') }}">

  </head>
  <!-- <body background="/static/images/img.png" > -->

  <body background="http://www.psdgraphics.com/file/business-background.jpg">
<nav class="navbar" >
    <div class="navbar">
      <a href="/contact"><span class="pd"> Contact us</span></a>
      <a href="/about"><span class="pd"> About us</span></a>
      <a href="/"><span class="pd"> Home</span></a>
      </div>
</nav>
    <!-- <img src="/static/images/img.png">     -->

<div class="division">
<form>
  <p class="para">Enter the Name</p>
  <input type="text"Name="sooraj">
  <p class="para">Enter the Gender</p>
  <input type="text"Gender="male">
  <p class="para">Enter the Email id</p>
  <input type="text"Email id="soorajchowkikharvi@gmail.com">
  <p class="para">Enter the Password</p>
  <input type="number"Password="123456">
<div class="submit">
  <input type="submit">
</div>
</form>

</div>

  </body>
</html>