<!DOCTYPE html>
  <head>
    <title>Contact Us</title>
    <link rel="icon" type="image/x-icon" href="./assets/favicon.ico" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ url_for('static',filename = 'css/main.css') }}">

  </head>
  <!-- <body background="/static/images/img.png" > -->

  <body background="http://www.psdgraphics.com/file/business-background.jpg">
<nav class="navbar" >
    <div class="navbar">
      <a href="/contact"><span class="pd"> Contact us</span></a>
      <a href="/about"><span class="pd"> About us</span></a>
      <a href="/"><span class="pd"> Home</span></a>
      </div>
</nav>
    <!-- <img src="/static/images/img.png">     -->

<div class="division">
<form action="/contact" method="POST">
  <p for='name' class="para">Enter the Name</p>
  <input name="name" id="name" type="text">
  <p for="gender" class="para">Enter the Gender</p>
  <input id="gender" name="gender" type="text">
  <p for="email" class="para">Enter the Email id</p>
  <input id="email" name="email" type="email">
  <p class="para">Enter the Password</p>
  <input id="password" name="password" type="password">
<div class="submit">
  <input type="submit">
</div>
</form>

</div>

  </body>
</html>